#!/usr/bin/env bash
#  current devlopment board
url= # base url for the app, for example https://api.myapp.com

callbackUrl=$url/callback
flowdock_room_token= # room to which to post to, comma delimited

trello_board_id= # id of the board you want to track
# trello auth details, found in https://trello.com/1/appkey/generate/
trello_key= # Key
trello_secret= # Seccret
