#!/usr/bin/env bash
#  current devlopment board
export url= # base url for the app, for example https://api.myapp.com

export callbackUrl=$url/callback
export flowdock_room_token= # room to which to post to, comma delimited

export trello_board_id= # id of the board you want to track
# trello auth details, found in https://trello.com/1/appkey/generate/
export trello_key= # Key
export trello_secret= # Seccret
